<div class="d-flex justify-content-center">
  {% if request.user != post.author %}
    <a class="btn btn-sm btn-primary" href="{% url 'posts:profile' post.author.username %}" role="button">
      Купить
    </a>
  {% else %}
    <div>
      <a class="btn btn-sm btn-primary" href="{% url 'posts:post_edit' post.id %}" role="button">
        Изменить
      </a>
      <a class="btn btn-sm btn-danger" href="{% url 'posts:post_delete' post.id %}" role="button">
        Удалить
      </a>
    </div>
  {% endif %}
</div>