{% extends 'base.html' %}
{% block title %} Переписка {% endblock %}
{% block content %}
<div class="panel">
    {% load templatetags %}
    {% load tz %}
    {% if chats.count == 0 %}
      <div class="col-3">
        <div class="card m-2 text-center">
          <div class="card-header">
            <h5>Записи не найдены</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Нет ни одного начатого диалога</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% for chat in chats %}
        {% if chat.message_set.count != 0 %}
            {% with last_message=chat.message_set.last %}
                {% get_companion user chat as companion %}
                <a href="{% url 'chats:messages' chat.id %}">
                  <div class="card m-1 w-50 {% if companion == last_message.author and not last_message.is_readed %}bg-primary{% endif %}">
                    <div class="card-body">
                      <h10 class="card-title">{{ companion.username }}</h10>
                      <span style="color:darkgray"><small>{{ last_message.pub_date|utc }}</small></span><br>
                      <small>{{ last_message.message|truncatechars_html:"200"|safe|striptags }}</small>
                    </div>
                  </div>
                </a>
            {% endwith %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}