{% extends 'base.html' %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block content %}
<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-md-5 p-3">
      <div class="card">
        <div class="card-header">
          Восстановление пароля завершено
        </div>
        <div class="card-body">
          <p>Ваш пароль был сохранен. Используйте его для входа</p>
          <a href="{% url 'users:login' %}">Войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}