{% extends 'base.html' %}
{% block title %}Отзывы{% endblock %}
{% block content %}
  <div class="container"> 
    {% include 'posts/includes/profile_navbar.html' %}
    <hr>
    <div class="container">
      {% if request.user != author %}
      <div>
        <a class="btn btn-sm btn-primary" href="{% url 'posts:review_create' author.username %}" role="button">
          Оставить отзыв
        </a>
      </div>
      {% endif %}
      <br>
      <div class="row row-cols-3">  
        {% for review in reviews %}
          <div class="card m-1 {% if review.score == 'PV' %}border-success{% elif review.score == 'NT' %}border-dark{% else %}border-danger{% endif %}" style="width: 25rem">
            <div class="d-flex justify-content-between">
              <div>
                <a class="btn" href="{% url 'posts:profile' review.author.username %}"><span style="color:blue"><small>{{ review.author.username }}</span></small></a>
                {% if request.user == review.author%}
                  <a class="btn " role="button" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteReview"><span style="color:red"><small>удалить</small></span></a>
                {% endif %}
              </div>
              <div class="d-flex justify-content-end">
                <span style="color:darkgray"><small>{{ review.pub_date|date:"j F Y" }}</span></small>
              </div>
            </div>
            <div class="card-body">{% if review.score == 'PV' %}<span style="color:green">{% elif review.score == 'NT' %}<span style="color:darkgray">{% else %}<span style="color:red">{% endif %}<small>{{ review.text }}</small></span></div>
          </div>
          <!-- Модальное окно удаления поста -->
          <div class="modal fade" id="exampleModalDeleteReview" tabindex="-1" aria-labelledby="exampleModalDeleteReviewLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalDeleteReviewLabel">Удаление отзыва</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  Вы уверены, что хотите удалить отзыв: ({{ review }})?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <form method="post" action="{% url 'posts:review_delete' author.username review.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <div class="col">
              <div class="card text-center">
                <div class="card-header">
                  <h5>Записи не найдены</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">У {{ author.username }} отсутствуют отзывы</p>
                  {% if request.user != author %}
                    <a class="btn btn-sm btn-primary" href="{% url 'posts:review_create' author.username %}" role="button">
                      Оставить отзыв
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
    <br>
  </div>
{% endblock %}